server:
  port: 8081

springdoc:
  api-docs:
    path: /auth/v3/api-docs
  swagger-ui:
    path: /auth/swagger-ui.html

spring:
  application:
    name: auth_service

  datasource:
    url: jdbc:mysql://localhost:3306/bus_application?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: BusApp_JWT_Secret_2026_StrongKey_9fA7xL2PqR8MZK
  expiration: 86400000
