server:
  port: 7084

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: false

spring:
  application:
    name: schedule_service

  datasource:
    url: jdbc:mysql://localhost:3306/bus_application?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.security: DEBUG

services:
  user-service:
    url: http://user_service
